@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Indie Flower", cursive;
  background-image: url('./images/steak.jpg');
  background-size: cover ;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0; 
}

.main-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.front-page-text{
  color: white;
  font-size: 40px;
}

nav { 
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center; 
  height: 50px;
  width: 100%;
  color: white;
  padding: 10px 0;
  background-color: #36454F
}

h1{ 
  font-size: 80px;
  color: white ; 
}

#content { 
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 50px; 
  align-items: center; 
}

button {
  all: unset;
  cursor: pointer; 
  border-radius: 6px;
  padding: 10px;
  font-size: 30px; 
}

/* visual indicator to show the user the current tab they are on */
button.active {
  background-color: #1a1f24; 
  border-bottom: 3px solid white; 
  font-weight: bold;
}

button:focus{ 
  outline: revert;
}

button:hover{
  background-color: #36454F;
}

footer {
  display: flex;
  justify-content: center; 
  align-items: center;
  color: white; 
  width: 100%;
  padding: 10px 0;
  background-color: #36454F
}

#hours{ 
  color: white;
  font-size: 30px;
}

